<section>
  <div class="swiper w-full">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          src="/images/2.jpg"
          alt="Accommodation view 1"
          class="h-64 w-full object-cover md:h-[480px]"
        />
      </div>

      <div class="swiper-slide">
        <img
          src="/images/3.jpg"
          alt="Accommodation view 2"
          class="h-64 w-full object-cover md:h-[480px]"
        />
      </div>

      <div class="swiper-slide">
        <img
          src="/images/4.jpg"
          alt="Accommodation view 3"
          class="h-64 w-full object-cover md:h-[480px]"
        />
      </div>

      <!-- Duplicates so loop has enough slides to work with -->
      <div class="swiper-slide">
        <img
          src="/images/2.jpg"
          alt="Accommodation view 1"
          class="h-64 w-full object-cover md:h-[480px]"
        />
      </div>

      <div class="swiper-slide">
        <img
          src="/images/3.jpg"
          alt="Accommodation view 2"
          class="h-64 w-full object-cover md:h-[480px]"
        />
      </div>

      <div class="swiper-slide">
        <img
          src="/images/4.jpg"
          alt="Accommodation view 3"
          class="h-64 w-full object-cover md:h-[480px]"
        />
      </div>
    </div>

    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
