<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/src/output.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="/src/navbar.css" />
    <link rel="stylesheet" href="/src/carousel.css" />
    <title>Uponthee</title>
  </head>
  <body class="pt-20">
    <!-- Header  -->
    <%- include('partials/header.ejs')%>

    <main class="space-y-10 px-8">
      <!-- Trending Lodges carousel -->
      <%- include('partials/carousel.ejs') %>

      <!-- FUTO Communities -->
      <%- include('partials/futo-communities.ejs') %>
    </main>

    <!-- Footer -->
    <%- include('partials/footer.ejs')%>
    <script src="/js/navbar.js"></script>
    <script src="/js/carousel.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </body>
</html>
