  #mobile-menu {
    transform: translateX(-100%);
    transition: transform 0.3s ease-in-out;
  }
  #mobile-menu.open {
    transform: translateX(0);
  }
  #menu-overlay {
    display: none;
  }
  #menu-overlay.open {
    display: block;
  }